<div class="main-container">
  <div class="header-container">
    <div>MEAN Tutorial</div>
  </div>
  <div class="body-container">
    <div class="row-fluid push-container">
      <div class="col col-sm-1 col-md-2 col-lg-2">
        <div class="push-lbl">Push data to local DB</div>
      </div>
      <div class="col col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary" ng-click="mainCtrl.addDataModal()">Push</button>
      </div>
    </div>
    <div class="row-fluid pull-container">
      <div class="col col-sm-1 col-md-2 col-lg-2">
        <div class="push-lbl">Pull/Show data from local DB</div>
      </div>
      <div class="col col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary" ng-click="mainCtrl.getData()">Get</button>
      </div>
    </div>
  </div>
</div>
